  <!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    {% load staticfiles %}
    <link rel='stylesheet' href="{% static 'visualizer/css/bootstrap.min.css' %}" type="text/css"/>
    <meta name="viewport" content = "width=device-width, initial-scale=1.0">
    <style type="text/css">
        html,
        body{
          height:100%;
          margin: 0
        }
        canvas{width: 100%;}
    </style>
</head>

<body class="body" style="background-color:#f6f6f6">
  <div class="container-fluid" style="min-height:95%; ">
    <div class="row">

        <br>
          <center>
          {% block content %}
          {% endblock %}  
          </center>
    </div>
  </div>

</body>

</html>